:root {
  font-family: "Qwigley", cursive;
  font-size: 3em;
  line-height: 1.5;
  font-weight: 400;
  color: #1b4332;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  margin-top: .5em;
  margin-bottom: .1em;
  display: flex;
  justify-content: center;
}

a {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: .4em;
}

main { 
  display: flex;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: #081c15;
}

h1 {
  font-family: "Arizonia", cursive;
  /* font-family: "Qwigley", cursive; */
  font-weight: 400;
  font-style: normal;
  color: #1b4332;
  line-height: .2em;
  text-align: center;
  padding-right: .3em;
}
li {
  font-size: .7em;
}
form > button {
  font-size: .5em;
}
button {
  border-radius: 1.5em;
  border: 1px solid transparent;
  /* padding: 0.6em 1.2em; */
  margin: 0.2em 0;
  background-color: #b7e4c7;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
  background-color: #d8f3dc;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media only screen and (max-width: 1279px) {
  body {
    /* background-color: #edeec9; */
    background-color: #cad2c5;
  }
}

@media only screen and (min-width: 1280px) {
  body {
    /* background-color: #cad2c5; */
    background-image: radial-gradient(#f6fff8, #95d5b2 10%, #95d5b2 20%, #95d5b2 30%, #f6fff8);
  }
}