.asideWithToggleSortButton {
    width: 89%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.toggleSortOrderButton {
    max-width: fit-content;
    padding: .4em .8em;
    border: 1px solid white;
}

@media only screen and (max-width: 1279px) {
    .checkListImg {
        display: none;
    }
}


@media only screen and (min-width: 1145px) {
    .nameOfTableHeader {
        font-size: 1.5em;
    }
    .checkListImg {
        display: inline-flex;
        width: 10em;
    }
    nav {
        font-size: 1.1em;
        margin-bottom: 1.6em;
    }
    main {
        background-color: #f0fff1;
        padding: .5em 0 .3em 2em;
        border: 1px solid green;
        border-radius: .5em;
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media only screen and (min-width: 1536px) {
    .nameOfTableHeader {
        font-size: 1.6em;
    }
    /* The nav contains the navigation button */
    nav {
        font-size: 1em;
    }
    .checkListImg {
        display: inline-flex;
        width: 11em;
    }
}