.listItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #2f3e46;
    margin-bottom: .5rem;
    border-bottom: 2px dotted green;
    padding: 0 0em;
}

.trashCanIcon {
    height: 1.5em;
    margin-right: .9em;
}

.removeButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: .7em;
    padding: 0.6em 1.2em;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: .5em;
    font-style: normal;
}

/* iPhone 11 Pro Max iOS 14.6 */
@media only screen and (max-width: 415px) {
    .listItem {
        padding: 0 1em;
    }
}

/* The iPhone 12/13 Pro Max iOS 14.6 Has a View Port Width of 428px in Portrait Mode */
@media only screen and (min-width: 416px) and (max-width: 428px) {
    .listItem {
        padding: 0 1em;
    }
}

@media only screen and (max-width: 579px) {
    .todoListItem {
        font-size: .7em;
    }
}

@media only screen and (max-width: 679px) {
    .removeButton {
        font-size: .4em;
        padding: 0.7em 1.2em 0.5em 1.2em;
    }
    .trashCanIcon {
        margin-bottom: .2em;
        margin-right: .8em;
    }
}

@media only screen and (min-width: 580px) and (max-width: 679px) {
    .todoListItem {
        font-size: .8em;
    }
}

@media only screen and (min-width: 680px) and (max-width: 820px) {
    .todoListItem {
        font-size: .9em;
    }
    .removeButton {
        font-size: .5em;
        padding: 0.6em 1.6em 0.8em 1.2em;
    }
    .trashCanIcon {
        margin-top: .1em;
        margin-bottom: 0;
        margin-right: .7em;
    }
}