.ListItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #2f3e46;
    margin-bottom: .5rem;
    border-bottom: 2px dotted green;
    padding: 0 .8em;
}

.trashCanIcon {
    height: 1.5em;
}

.removeButton {
    margin-bottom: .7em;
}